.delete-icon {
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: #000;
  }
}
.edit-icon {
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: #000;
  }
}

.like-icon {
  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: #000;
  }
}

.comment-login-btn.ant-btn[disabled].comment-login-btn--dark {
  color: #fff !important;
  border-color: #fff !important;
  background-color: transparent !important;
  opacity: 1;
}

.comment-login-btn.ant-btn[disabled].comment-login-btn--light {
  color: #000 !important;
  border-color: #000 !important;
  background-color: transparent !important;
  opacity: 1;
}
